*{
  border:0px;
  margin: 0px;
}
body{
  background-color: black;
  color: yellowgreen;
}
.handleBtn{
  width: 100%;
  color:yellowgreen;
  background-color: grey;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
}